html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border: 1px solid #202020;
    border-spacing: 0;
}

td,
th {
    border: 1px solid #202020;
    padding: 1rem;
}

th {
    background-color: #1b5180;
    color: white;
}